<div class="section group">

<h2><%= @event.title %></h2>

</div>

<div class="section group">
<!-- LEFT-HAND COLUMN -->
  <div class="col_1_of_2">
  <!-- put profile picture of host -->
  <p><img class="profile_pic" src=<%= @host.profile_pic %>></P>
  <p> <%= link_to "#{@host.f_name} #{@host.l_name}", "/hosts/#{@host.id}" %></p>
  </div>

  <div class="col_2_of_2">
    <ul>
        <li><%= @venue.address %></li>
        <li><img src=<%= @venue.url%>></li>
        <li><strong><%= @event.start_hour %></strong> | <%= @event.start_date %></li>
    </ul>
  </div>

 </div>
 <!-- need to make this work for more than one artist. In particular, need to think about how the pieces at an event associated with a single artist -->
<% @artists.each do |artist| %>
 <div class="section group">
<!-- LEFT-HAND COLUMN -->
  <div class="col_1_of_2">
  <!-- put profile picture of host -->
  <p><img class="profile_pic" src=<%= artist.profile_pic %>></P>
  <p> <%= link_to "#{artist.f_name} #{artist.l_name}", "/artists/#{artist.id}" %></p>
  </div>

  <div class="col_2_of_2">
        <% @event.pieces.each do |piece| %>
          <h4><img src=<%= piece.url %>></h4>
        <% end %>
  </div>
 </div>
<% end %>