<!DOCTYPE html>
<html>
<head>
  <title><strong>ArtLoft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<body>

  <nav>
    <a id="home" href="/"><h2><strong>A</strong>rt<strong>L</strong>oft</h2>
    <div id="user_nav">
      <% if current_user %>
         <%= link_to "#{current_user.f_name}", "/users/#{current_user.id}" %> <br>
        Logged in as <%= current_user.email %>

        <%= link_to "| Log out", log_out_path %>
            <!-- make into button -->
       
      <% else %>
        <%= link_to "Sign up", sign_up_path %> | <%= link_to "log in", log_in_path %>
      <% end %>
    </div>    
    <div id="global_nav">
      <a href="/pieces/create">
        <span class="tabContent">
          <span class="topContent">
            Show
          </span>
          <span class="botContent">
            your Art ||
          </span>
        </span>
      </a>
      <a href="/venues/create">
        <span class="tabContent">
          <span class="topContent">
            Host
          </span>
          <span class="botContent">
            an Event
          </span>
        </span>
      </a>      
    </div>  
  </nav>




<%= yield %>

</body>
</html>
